@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

.border-weather {
  margin: 40px;
  background-image: url("../assets/backgrounds/rainy.svg");
  background-position: center;
  background-size: 112%;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 50vw;
}

.content {
  height: 60vh;
}

.bottom {
  margin-bottom: 50px;
}

.right {
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.bottom-line {
  border-bottom: 1px solid #7ba0b3;
}

.search-box {
  padding: 12px;
  width: 47px;
  background-color: #7ba0b3;
}
.search-box img {
  width: 100%;
}

.weather-imgs {
  width: 30px;
}
.weather-imgs img {
  width: 100%;
}

.degree {
  line-height: 75px;
}

.results .col-12.pointer {
  cursor: pointer;
}
.results .col-12.pointer:hover {
  color: #e3ebf2;
}

@media (max-width: 1024px) {
  .border-weather {
    background-size: cover;
  }
}
.border-weather2 {
  margin: 40px;
  background-image: url("../assets/backgrounds/rainy.svg");
  background-position: center;
  background-size: 112%;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 60vw;
  height: 60vh;
}

.filter {
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.clc {
  width: 20vw;
  background: rgba(0, 0, 0, 0.6784313725);
  position: relative;
  border-radius: 13px;
}

.square {
  position: relative;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
  z-index: 1;
  background-color: #fb8729;
  border-radius: 30px;
}

.pad {
  padding: 35px;
}

.cross {
  width: 20px;
}
.cross img {
  width: 100%;
}

.touch {
  border-radius: 13px;
}
.touch:hover {
  box-shadow: 0px 2px 3px 1px #515151;
  transition: 0.3s;
}
.touch:active {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 3px 1px #f8f8f8;
}

@media (max-width: 1200px) {
  .clc {
    width: 23vw;
  }
}
@media (max-width: 988px) {
  .clc {
    width: 27vw;
  }
  .border-weather2 {
    background-size: cover;
  }
}
@media (max-width: 901px) {
  .border-weather2 {
    width: 75vw;
    height: 70vh;
    background-size: cover;
  }
}
@media (max-width: 864px) {
  .clc {
    width: 30vw;
  }
}
@media (max-width: 768px) {
  .clc {
    width: 32vw;
  }
  .border-weather2 {
    width: 80vw;
    height: 80vh;
  }
}
@media (max-width: 648px) {
  .clc {
    width: 34vw;
  }
  .border-weather2 {
    width: 80vw;
    height: 80vh;
  }
}
@media (max-width: 609px) {
  .clc {
    width: 39vw;
  }
}
@media (max-width: 425px) {
  .clc {
    width: 52vw;
  }
}/*# sourceMappingURL=calculator.css.map */