@import "./variables.scss";
@import "./weather.scss";

button {
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  color: inherit;
}
body {
  background-size: 20px 20px;
}

.App {
  // min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.developer span {
  font-weight: 600;
  color: $green;
}

.calculator {
  // border: 3px solid $green;
  border-radius: 10px;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}

.displayWindow {
  // background-color: $black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  height: 120px;
  flex-direction: column;

  &expression {
    overflow-x: auto;
    width: 100%;
    text-align: right;
    color: $green;
    font-weight: 600;
    scrollbar-width: none;
  }
  &result {
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.keysWindow {
  // background-color: $darkgray;
  display: flex;
  padding: 1rem;
  gap: 1rem;

  button {
    padding: 0.8rem 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: $green;
    border-radius: 5px;

    &:hover {
      background-color: rgba($color: #373535, $alpha: 0.2);
    }
  }
}

.keys_scientific{
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.line{
  margin-block: 1.5rem;
  width: 2px;
  background-color: rgba($color: #515151, $alpha: 0.08);
}

.keys_basic{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 0.5rem;
  
  .equal{
    background-color: $orange;
    color: $black;
  }
  .number{
    color: white;
    font-weight: 600;
  }
}

// ------------

.border-weather2 {
  margin: 40px;
  background-image: url("../assets/backgrounds/rainy.svg");
  background-position: center;
  background-size: 112%;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 60vw;
  height: 60vh;
}

.filter {
  backdrop-filter: blur(13px);
}

.clc {
  // width: 20vw;
  background: #000000ad;
  position: relative;
  border-radius: 13px;
}

.square {
  position: relative;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
  z-index: 1;
  background-color: $orange;
  border-radius: 30px;
}

.pad {
  padding: 35px;
}

.cross {
  width: 20px;
  img {
    width: 100%;
  }
}
.touch {
  border-radius: 13px;
  &:hover {
    box-shadow: 0px 2px 3px 1px #515151;
    transition: 0.3s;
  }
  &:active {
    border: 1px solid $white;
    box-shadow: 0px 2px 3px 1px $white;
  }
}

// @media (max-width: 1200px) {
//   .clc {
//     width: 23vw;
//   }
// }
// @media (max-width: 988px) {
//   .clc {
//     width: 27vw;
//   }
//   .border-weather2 {
//     background-size: cover;
//   }
// }
// @media (max-width: 901px) {
//   .border-weather2 {
//     width: 75vw;
//     height: 70vh;
//     background-size: cover;
//   }
// }
// @media (max-width: 864px) {
//   .clc {
//     width: 30vw;
//   }
// }

// @media (max-width: 768px) {
//   .clc {
//     width: 32vw;
//   }
//   .border-weather2 {
//     width: 80vw;
//     height: 80vh;
//   }
// }

// @media (max-width: 648px) {
//   .clc {
//     width: 34vw;
//   }
//   .border-weather2 {
//     width: 80vw;
//     height: 80vh;
//   }
// }

// @media (max-width: 609px) {
//   .clc {
//     width: 39vw;
//   }
// }


// -----------------
@media (max-width: 610px) {
  body{
    padding: 1rem;
  }
  .calculator{
    margin: 1rem;
  }

  .keysWindow{
    flex-direction: column;
    gap: 0;
  }
  
  .line{
    display: none;
  }

  .keys_scientific{
    width: 100%;
    grid-template-columns: repeat(5,1fr);
  }
  .border-weather2{
    width: 80vw;
         height: 80vh;
  }
}


// -----------------
// @media (max-width: 425px) {
//   .clc {
//     width: 52vw;
//   }
// }

