@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.black {
  color: #1f1f1f;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

.base3 {
  margin-top: 2vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.black {
  color: #1f1f1f;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

.base3 {
  margin-top: 2vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

.border-weather {
  margin: 40px;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 60vw;
}

.content {
  height: 60vh;
}

.bottom {
  margin-bottom: 50px;
}

.right {
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.bottom-line {
  border-bottom: 1px solid #7ba0b3;
}

.search-box {
  padding: 12px;
  width: 47px;
  background-color: #7ba0b3;
}
.search-box img {
  width: 100%;
}

#searchBar {
  background-color: transparent;
  border: none;
}
#searchBar::-moz-placeholder {
  background-color: transparent;
  color: #7ba0b3;
}
#searchBar::placeholder {
  background-color: transparent;
  color: #7ba0b3;
}
#searchBar:focus {
  outline: none;
  border: none;
  color: #f8f8f8;
}

.weather-imgs {
  width: 42px;
}
.weather-imgs img {
  width: 100%;
}

.temp {
  line-height: 75px;
}

.results .col-12.pointer {
  cursor: pointer;
}
.results .col-12.pointer:hover {
  color: #e3ebf2;
}

@media (max-width: 1161px) {
  .border-weather {
    margin: 0;
  }
  .bottom {
    margin-top: 20px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.black {
  color: #1f1f1f;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

.base3 {
  margin-top: 2vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.black {
  color: #1f1f1f;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

.base3 {
  margin-top: 2vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

.border-weather {
  margin: 40px;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 60vw;
}

.content {
  height: 60vh;
}

.bottom {
  margin-bottom: 50px;
}

.right {
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.bottom-line {
  border-bottom: 1px solid #7ba0b3;
}

.search-box {
  padding: 12px;
  width: 47px;
  background-color: #7ba0b3;
}
.search-box img {
  width: 100%;
}

#searchBar {
  background-color: transparent;
  border: none;
}
#searchBar::-moz-placeholder {
  background-color: transparent;
  color: #7ba0b3;
}
#searchBar::placeholder {
  background-color: transparent;
  color: #7ba0b3;
}
#searchBar:focus {
  outline: none;
  border: none;
  color: #f8f8f8;
}

.weather-imgs {
  width: 42px;
}
.weather-imgs img {
  width: 100%;
}

.temp {
  line-height: 75px;
}

.results .col-12.pointer {
  cursor: pointer;
}
.results .col-12.pointer:hover {
  color: #e3ebf2;
}

@media (max-width: 1161px) {
  .border-weather {
    margin: 0;
  }
  .bottom {
    margin-top: 20px;
  }
}
button {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  color: inherit;
}

body {
  background-size: 20px 20px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.developer span {
  font-weight: 600;
  color: #81a09a;
}

.calculator {
  border-radius: 10px;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}

.displayWindow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  height: 120px;
  flex-direction: column;
}
.displayWindowexpression {
  overflow-x: auto;
  width: 100%;
  text-align: right;
  color: #81a09a;
  font-weight: 600;
  scrollbar-width: none;
}
.displayWindowresult {
  font-size: 2.2rem;
  font-weight: 600;
}

.keysWindow {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.keysWindow button {
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: #81a09a;
  border-radius: 5px;
}
.keysWindow button:hover {
  background-color: rgba(55, 53, 53, 0.2);
}

.keys_scientific {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line {
  margin-block: 1.5rem;
  width: 2px;
  background-color: rgba(81, 81, 81, 0.08);
}

.keys_basic {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.keys_basic .equal {
  background-color: #fb8729;
  color: #1f1f1f;
}
.keys_basic .number {
  color: white;
  font-weight: 600;
}

.border-weather2 {
  background-image: url("../assets/backgrounds/rainy.svg");
  background-position: center;
  background-size: 112%;
  box-shadow: -1px 0px 20px 3px #373535;
  width: 80vw;
  height: 80vh;
}

.filter {
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
}

.clc {
  background: rgba(0, 0, 0, 0.6784313725);
  position: relative;
  border-radius: 13px;
}

.square {
  position: relative;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
  z-index: 1;
  background-color: #fb8729;
  border-radius: 30px;
}

.pad {
  padding: 35px;
}

.cross {
  width: 20px;
}
.cross img {
  width: 100%;
}

.touch {
  border-radius: 13px;
}
.touch:hover {
  box-shadow: 0px 2px 3px 1px #515151;
  transition: 0.3s;
}
.touch:active {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 3px 1px #f8f8f8;
}

@media (max-width: 610px) {
  body {
    padding: 1rem;
  }
  .calculator {
    margin: 1rem;
  }
  .keysWindow {
    flex-direction: column;
    gap: 0;
  }
  .line {
    display: none;
  }
  .keys_scientific {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
  .border-weather2 {
    width: 80vw;
    height: 80vh;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}
.text-48 {
  font-size: 108px;
}

.text-36 {
  font-size: 36px;
}

.text-24 {
  font-size: 36px;
}

.text-19 {
  font-size: 19px;
}

.text-14 {
  font-size: 14px;
}

.text-12 {
  font-size: 12px;
}

.burgundy {
  color: #580702;
}

.rainy {
  color: #7ba0b3;
}

.black {
  color: #1f1f1f;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: start;
}

.je {
  justify-content: end;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.dg {
  display: grid;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

.base3 {
  margin-top: 2vw;
}

::-moz-selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

::selection {
  color: #1f1f1f;
  background-color: #81a09a;
}

.pointer {
  cursor: pointer;
}

.tabWrapper {
  width: 40vw;
}

.tab {
  border-radius: 0px 0px 5px 5px;
  background-color: #568a80;
  gap: 0;
  height: 7vh;
  border: 1px solid #1f1f1f;
}

.calculator-theme .tab:nth-of-type(1) {
  background-color: #81a09a;
  height: 6vh;
  cursor: pointer;
}
.calculator-theme .tab:nth-of-type(1):hover {
  background-color: rgba(129, 160, 154, 0.6705882353);
}

.weather-theme .tab:nth-of-type(2) {
  background-color: #81a09a;
  height: 6vh;
  cursor: pointer;
}
.weather-theme .tab:nth-of-type(2):hover {
  background-color: rgba(129, 160, 154, 0.6705882353);
}

body {
  background-color: #1f1f1f;
  color: #f8f8f8;
  font-family: "Roboto";
}

.baseWrapper {
  width: 50vw;
}

.border-wrapper {
  border: #515151 1px solid;
  width: 98%;
  height: 50vh;
  border-radius: 13px;
  background-color: #e3ebf2;
  box-shadow: 1px 4px 9px 1px black;
}

.col-sm-12:nth-of-type(1) .border-wrapper {
  background-image: url("../assets/backgrounds/weatherbg.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.col-sm-12:nth-of-type(1) .border-wrapper:hover {
  box-shadow: 0px 0px 13px 3px rgba(158, 153, 153, 0.8117647059);
  transition: 0.3s;
}
.col-sm-12:nth-of-type(1) .border-wrapper:active {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 0px 4px 0px #f8f8f8;
}

.col-sm-12:nth-of-type(2) .border-wrapper {
  background-image: url("../assets/backgrounds/calculatorbg.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.col-sm-12:nth-of-type(2) .border-wrapper:hover {
  box-shadow: 0px 0px 13px 3px rgba(158, 153, 153, 0.8117647059);
  transition: 0.3s;
}
.col-sm-12:nth-of-type(2) .border-wrapper:active {
  border: 1px solid #f8f8f8;
  box-shadow: 0px 0px 4px 0px #f8f8f8;
}

@media (max-width: 992px) {
  .hm {
    margin-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */