// colors
$green: #81a09a;
$darkgray: #515151;
$black: #1f1f1f;
$white: #f8f8f8;
$darkblue: #272030;
$lightblue: #e3ebf2;
$burgundy: #580702;
$rainy-blue: #7ba0b3;
$orange: #fb8729;

// fontlar
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("woff2");
}

@mixin text-size($size) {
  font-size: $size;
}

.text-48 {
  @include text-size(60px);
}
.text-36 {
  @include text-size(36px);
}

.text-24 {
  @include text-size(24px);
}

.text-19 {
  @include text-size(19px);
}

.text-14 {
  @include text-size(14px);
}
.text-12 {
  @include text-size(12px);
}

// fontlar ve renkler
.burgundy {
  color: $burgundy;
}
.rainy {
  color: $rainy-blue;
}

// konumlar
.jc {
  justify-content: center;
}
.js {
  justify-content: start;
}
.je {
  justify-content: end;
}
.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.aic {
  align-items: center;
}
.aie {
  align-items: end;
}
.ais {
  align-items: start;
}

.base1 {
  margin-top: 150px;
}

.base2 {
  margin-top: 7vw;
}

::selection {
  color: $black;
  background-color: $green;
}

.pointer {
  cursor: pointer;
}
