@function get-contrast-color($bg-color) {
  $light-color: white;
  $dark-color: black;
  $contrast-threshold: 60%;

  @if (lightness($bg-color) > $contrast-threshold) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

.dynamic-text {
  background-color: var(--bg-color, #3498db); // Varsayılan mavi
  color: get-contrast-color(var(--bg-color));
}


.border-weather {
  margin: 40px;
  box-shadow: -1px 0px 20px 3px #373535;
}

.bottom {
  margin-bottom: 50px;
}

.right {
  backdrop-filter: blur(13px);
}

.bottom-line {
  border-bottom: 1px solid $rainy-blue;
}

.search-box {
  padding: 12px;
  width: 47px;
  background-color: $rainy-blue;

  img {
    width: 100%;
  }
}

#searchBar {
  background-color: transparent;
  border: none;
  &::placeholder {
    background-color: transparent;
    color: $rainy-blue;
  }
  &:focus {
    outline: none;
    border: none;
    color: $white;
  }
}

.weather-imgs {
  width: 42px;
  img {
    width: 100%;
  }
}

.temp {
  line-height: 75px;
}

.results {
  .col-12.pointer {
    cursor: pointer;

    &:hover {
      color: $lightblue;
    }
  }
}



@media (max-width: 1161px) {
   .border-weather {
     margin: 0;
   }
  .bottom {
    margin-top: 20px;
  }
}


